<p id="notice"><%= notice %></p>

<h1>Songmap</h1>

<p>Thousands of songs have been written with street names in their title. This map the location of the streets that influenced the songwriters. 
  Explore the music or take a walk down the iconic streets using Google Street View </p>


<p>Tip: Use Google Chrome for the best experience and log into Spotify to listen to full tracks</p>


<br>



<%= tag.div nil, id: 'map', data: { songs: @songs.to_json(methods: [:address])}  %>

<h1>Add your favorite Song</h1>
<p> Is your favorite song about a street missing? Please add it!</p>
<%= render 'form', song: Song.new %>



